.header-movie {
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: var(--light);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    top: 0;
    left: 0;
    z-index: 10;
    position: fixed;
    width: 100%;
}

.logo {
    width: 150px;
    height: 20px;
}

.header {
    display: flex;
    width: 100vw;
    padding: 0 60px;
    align-items: center;
    justify-content: space-between;
}

.logo {
    cursor: pointer;
    margin-right: 10px;

}

.logo-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}

.search-auth {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}

.header-item-a {
    text-decoration: none;
    color: #555;
    font-size: 14px;
}

.header-item-a:hover {
    opacity: 0.8;
}

.search {
    width: 200px;
    display: flex;
    align-items: center;
    height: 40px;
    border: 1px solid #ccc;
    color: #848687;
    /* margin-top: 17px; */
    border-radius: 8px;
}



.search-icon {
    padding-left: 8px;
    cursor: pointer;
    font-weight: 800;
    border: none;
    outline: none;
    color: #848687;
    background: transparent;

}

.search-icon i {
    color: #848687;
    transition: color 0.3s ease;
}



.search-input {
    width: 100%;
    padding: 0 8px;
    background-color: transparent;
    border: none;
    outline: none;
}

.search-input:focus::placeholder {
    color: var(--dark);
}

.search:focus-within {
    border-color: var(--dark);
}

.header-item {
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    margin: 0 7px;

}

.tvshow-item,
.movie-item {
    display: none;
    width: 300px;
    border-radius: 8px;
    position: absolute;
    animation: appearOut 0.4s ease-in-out;


}
.login-item {
    display: none;
    width: 200px;
    border-radius: 8px;
    top: 35px;
    right: 0;
    position: absolute;
    background: var(--light);
    z-index: 999;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3), -1px -1px 4px rgba(0, 0, 0, 0.3);
    animation: appearOut 0.4s ease-in-out;
}

.login-item:after{
    content: "";
    position: absolute;
    top: -10px;
    border-width: 10px;
    width: 100%;
    height: 5px;
    border-style: solid;    
    border-color: transparent;
    z-index: -1;
}
.movie-item-a {
    padding: 8px 14px;
    color: var(--dark);
    font-size: 18px;
    display: block;
    text-decoration: none;

}
.movie-item-a:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.movie-item-a:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.movie-item-a:hover {
    background-color: #dee2e6;
}

.header-item-movie:hover .movie-item {
    display: block;
}

.header-item-tvshow:hover .tvshow-item {
    display: block;
}
.header-item-login:hover .login-item {
    display: block;
}

.header-item:hover {
    color: #0fb7dc;
}






/* -----------------------footer------------------------- */
.footer-container {
    padding: 26px 0 30px 0;
    background-color: #031e35;
    color: var(--light);
}

.img-col {
    margin-top: 30px;
    padding-right: 60px;
    padding-left: 30px;
    cursor: pointer;
}

.img-fluid {
    width: 200px;
}

.footer-link {
    text-decoration: none;
    margin: 8px 0;
    color: var(--light);
    font-size: 20px;
}

.footer-heading {
    font-weight: bold;
    font-size: 1.4em;
}

.footer-element {
    padding-left: 30px
}



/* ---------------------------------Menu header-------------------------------- */
.menu-modal {
    position: fixed;
    top: 0;
    left: -300px;
    width: 250px;
    height: 100%;
    background-color: #fff;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    z-index: 1001;
    transition: left 0.3s ease;
}
.menu-modal::-webkit-scrollbar {
    width: 10px; 
}

.menu-modal::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3); 
    border-radius: 10px; 
}

.menu-modal::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
.menu-modal.open {
    left: 0;
}

.menu-header {
    display: flex;
    justify-content: flex-end;
}

.menu-header .close-menu {
    font-size: 28px;
    margin-right: 8px;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: 1000;
    transition: opacity 0.3s ease;
    display: none;
}

.overlay.show {
    display: block;
    opacity: 1;
}

.logo-title {
    position: relative;
    z-index: 1000;
}


.header-item-menu {
    display: none;
}


.content-sub-menu {
    display: none;
    padding-left: 15px;
    margin-top: 5px;
    /* max-height: 0; */
    animation: transitionDown 0.5s ease-out;
}


.header-link-section:first-child {
    margin-top: 10px;
}

.header-link-section {
    list-style: none;
    padding: 10px 20px;
    width: 100%;
    cursor: pointer;
}

.link-section {
    font-weight: 600;
    font-size: 1.3rem;
    color: var(--dark);
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.link-section i {
    font-size: 1.1rem;
}

.content-sub-menu.active {
    display: block;
}

.menu-content span i {
    margin-left: 10px;
    transition: transform 3s ease;
}

.menu-content span i.rotate {
    transform: rotate(90deg);
}





@media (max-width: 768px) {
    .header {
        padding: 0 20px;
    }

    .header-item {
        display: none;
    }

    .search-auth .header-item {
        display: flex;
        font-size: 1rem;
    }

    .search {
        width: 120px;
        height: 30px;
    }

    .search-input {
        font-size: 0.8rem;
    }

    .header-item-menu {
        display: flex;
        align-items: center;
        cursor: pointer;
    }


    .header-item-menu {
        margin-right: 10px;
        margin-left: 0;
    }
    .header-item-login .user-icon{
        display: none;
    }
    .login-item{
        top: 130%;
    }
}