.background-index {
    background-image: url('https://media.themoviedb.org/t/p/w1920_and_h600_multi_faces_filter%28duotone%2C00192f%2C00baff%29/5N8LOeRzt7LcZIhPbNVaCsVOPdT.jpg') !important;
    min-height: 370px;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.background-index .title-welcome {
    font-weight: 700;
    color: var(--light);
    margin-left: 60px;
    font-size: 70px;
}

.title-index{
    color: var(--light);
    margin-left: 60px;
    font-weight: 500;
    font-size: 60px;
    padding: 0;
}

.search-index{
    margin-top: 20px;
    margin-left: 50px;
    position: relative;
}

.input-query{
    width: 88vw;
    border-top-left-radius: 800px;
    border-bottom-left-radius: 800px;
    padding: 10px 0 10px 30px;

}

.search-btn {
    background: linear-gradient(to right, rgba(30,213,169,1) 0%, rgba(1, 180, 228, 1) 100%);
    color: #fff;
    border: none;
    cursor: pointer;
    position: absolute;
    border-top-right-radius: 800px;
    border-bottom-right-radius: 800px;
    padding: 10px 15px;
    margin-left: -55px;
}

.input-query,
.search-btn {
    font-size: 15px;
    outline: none;
    border: none;
}



/* ----------------------trending----------------------------- */


.container-film{
    display: flex;
    flex-direction: column;
}
.header-container-film{
    font-size: 1.6em;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    align-items: center; 
}
.list-film{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    /* padding-left: 20px; */
}
.content-container-film{
    display: flex;
    flex-direction: row;
}
.poster-index{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}
.video-index{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.name-movie-index{
    margin: 20px 10px 0 10px;
}
.name-movie-index:hover{
    color: var(--primary);
    cursor: pointer;
}
.release-index{
    margin: 0 10px 0 10px;
}
.container-film{
    padding-bottom: 30px;
}
.background-trailer{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
                url('https://media.themoviedb.org/t/p/w1920_and_h427_multi_faces/lBoHzOgft2QfpjkVVvZCqeM4ttT.jpg');
    min-height: 370px;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(5px);
}


.toggle-wrapper {
    position: relative;
    display: inline-block;
    width: 220px; 
    height: 30px;
    background: var(--light);
    border: 1px solid var(--primary);
    border-radius: 30px;
    overflow: hidden;
    margin-top: 10px;
    margin-left: 30px;
}

.toggle-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%; 
    height: 100%;
    background: linear-gradient(to right, rgba(30,213,169,1), rgba(1,180,228,1)); 
    border-radius: 30px;
    transition: 0.3s ease; 
}

.toggle-button {
    position: absolute;
    z-index: 1;
    width: 50%;
    line-height: 30px; 
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: var(--dark);
    cursor: pointer;
}

.toggle-button:first-child {
    left: 0;
}

.toggle-button:last-child {
    right: 0;
}

.toggle-wrapper .active {
    color: var(--light)
}





/* --------------------search------------------------- */
.container-search{
    margin-top: 140px;
    margin-bottom: 140px;

}
.search-col{
    max-width: 200px;
}
.card-header{
    background-color: var(--primary);
    color: var(--light);
    font-weight: 700;
    font-size: 1.1em;
}
.option-search-result{
    padding: 15px 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}
.option-search-result:hover{
    background-color: rgba(0, 0, 0, .04);
}
.option-search-result.active{
    background-color: rgba(0, 0, 0, .08);
    font-weight: 700;
}
.badge-search-number{
    background-color: var(--primary);
    color: var(--light);
    padding: 2px 5px;
    border-radius: 8px;
    font-size: 0.8em;
}   
.option-search-section{
    font-size: 0.9em;
}
.content-search-section{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 15px;
}

.content-search{
    display: flex;
    flex-direction: column;
    padding: 10px 15px 10px 0;
}
.img-movie-result{
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-left: -13px;
}
.name-result{
    font-size: 1em;
    font-weight: 700;
}       
.release-result{
    font-size: 1em;
    margin-bottom: 10px;
    color: #999;
}
.desc-result{
    font-size: 0.9em;

}
@media (max-width: 768px) {
    .input-query {
        width: 73vw;
    }
    .movie-title {
        font-size: 1rem;
    }
    .section-movie{
        padding: 0 20px;
        width: 80vw;
    }
    .header-container-film{
        margin-bottom: 20px;
    }
}

