<div class="container-fluid footer-container">
    <div class="row justify-content-center">
        <div class="col-xl-2 col-md-2 col-sm-3 img-col">
            <img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_2-d537fb228cf3ded904ef09b136fe3fec72548ebc1fea3fbbd1ad9e36364db38b.svg"
                alt="" class="img-fluid">
        </div>
        <div class="col-xl-2 col-md-2 col-sm-3 mt-4 first-col-footer">
            <h3 class="footer-heading mb-4">THE BASICS</h3>
            <a href="https://www.themoviedb.org/about?redirect_to=http%3A%2F%2Flocalhost%3A3000%2Fauth%2Fcallback" class="d-block footer-link">Giới thiệu về TMDB</a>
            <a href="https://www.themoviedb.org/about/get-in-touch/" class="d-block footer-link">Contact Us</a>   
            <a href="https://www.themoviedb.org/talk?redirect_to=http%3A%2F%2Flocalhost%3A3000%2Fauth%2Fcallback" class="d-block footer-link">Support Forums</a>
            <a href="https://www.themoviedb.org/login?to=read_me&redirect_uri=/docs" class="d-block footer-link">API</a>
            <a href="https://status.themoviedb.org/" class="d-block footer-link">System Status</a>
        </div>
          <div class="col-xl-2 col-md-2 col-sm-4 mt-4">
            <h3 class="footer-heading mb-4">GET INVOLVED</h3>
            <a href="https://www.themoviedb.org/bible?redirect_to=http%3A%2F%2Flocalhost%3A3000%2Fauth%2Fcallback" class="d-block footer-link">Contribution Bible</a>
            <a href="https://www.themoviedb.org/movie/new?redirect_to=http%3A%2F%2Flocalhost%3A3000%2Fauth%2Fcallback" class="d-block footer-link">Add New Movie</a>
            <a href="https://www.themoviedb.org/tv/new?redirect_to=http%3A%2F%2Flocalhost%3A3000%2Fauth%2Fcallback" class="d-block footer-link">Add New TV Show</a>
        </div>
          <div class="col-xl-2 col-md-2 col-sm-4 mt-4">
            <h3 class="footer-heading mb-4">COMUNITY</h3>
            <a href="https://www.themoviedb.org/documentation/community/guidelines?redirect_to=http%3A%2F%2Flocalhost%3A3000%2Fauth%2Fcallback" class="d-block footer-link">Guidelines</a>
            <a href="https://www.themoviedb.org/discuss?redirect_to=http%3A%2F%2Flocalhost%3A3000%2Fauth%2Fcallback" class="d-block footer-link">Discussions</a>
            <a href="https://www.themoviedb.org/leaderboard?redirect_to=http%3A%2F%2Flocalhost%3A3000%2Fauth%2Fcallback" class="d-block footer-link">Leaderboard</a>
        </div>
          <div class="col-xl-2 col-md-2 col-sm-4 mt-4">
            <h3 class="footer-heading mb-4">LEGAL</h3>
            <a href="https://www.themoviedb.org/terms-of-use?redirect_to=http%3A%2F%2Flocalhost%3A3000%2Fauth%2Fcallback" class="d-block footer-link">Terms of Use</a>
            <a href="https://www.themoviedb.org/api-terms-of-use?redirect_to=http%3A%2F%2Flocalhost%3A3000%2Fauth%2Fcallback" class="d-block footer-link">API Terms of Use</a>
            <a href="https://www.themoviedb.org/privacy-policy?redirect_to=http%3A%2F%2Flocalhost%3A3000%2Fauth%2Fcallback" class="d-block footer-link">Privacy Policy</a>
            <a href="https://www.themoviedb.org/dmca-policy?redirect_to=http%3A%2F%2Flocalhost%3A3000%2Fauth%2Fcallback" class="d-block footer-link">DMCA Policy</a>
        </div>
    </div>
</div>