<div class="container mt-5">
    <h1>Authenticate with TMDB</h1>
    <p>Click the button below to authenticate with TMDB and get started!</p>
    <a href="{{authUrl}}" class="btn btn-primary">Authenticate with TMDB</a>
</div>
