
<div class="d-flex justify-content-center align-items-center" style="height: 50vh;">
 <div class="">
    <h1>Xác thực tài khoản TMDB</h1>
    <p>Để tiếp tục, bạn cần xác thực tài khoản TMDB của mình.</p>
    <a href="{{authUrl}}" class="btn btn-primary">Nhấn vào đây để đăng nhập</a>
  </div>
</div>
