<div class="d-flex justify-content-center align-items-center" style="height: 50vh;">
 <div class="">
    <h1>Vui lòng đăng nhập để sử dụng chức năng này</h1>
    <p>Để tiếp tục, bạn cần đăng nhập.</p>
    <a href="/person/login" class="btn btn-primary">Nhấn vào đây để đến trang đăng nhập</a>
  </div>
</div>
