<div class="movie-detail">
  <div class="container">
    <div class="row">
      <div class="col-md-2">

      </div>
      <div class="col-md-10">
        <div class="row">
          {{#each popular}}
            <div class="col-md-3">
              <div class="card card-movie">
                <div class="card-img-top">
                  <img
                    src="https://image.tmdb.org/t/p/w500/{{this.poster_path}}"
                    alt="{{this.original_title}}"
                    class=""
                  />
                </div>
                <div class="card-body">
                  <div class="card-title movie-title">
                    {{this.original_title}}
                  </div>
                  <div class="card-text movie-release">
                    {{this.release_date}}
                  </div>
                </div>
              </div>
            </div>
          {{/each}}
          <div class="col-md-12">
            <button class="btn-loadmore">Hiển thị thêm</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<script>
let currentPage = 1;

document.querySelector('.btn-loadmore').addEventListener('click', async () => {
  currentPage++;
  
  try {
    const response = await fetch(`/movie/popular?page=${currentPage}`, {
      headers: { 'X-Requested-With': 'XMLHttpRequest' } // Để xác định đây là yêu cầu AJAX
    });
    const data = await response.json();

    if (data.popular && data.popular.length) {
      // Đảm bảo chỉ lấy container chứa các phim, không bao gồm nút "Hiển thị thêm"
      const moviesContainer = document.querySelector('.movie-detail .col-md-10 > .row');
      data.popular.forEach(movie => {
        const movieHTML = `
          <div class="col-md-3">
            <div class="card card-movie">
              <div class="card-img-top">
                <img src="https://image.tmdb.org/t/p/w500/${movie.poster_path}" alt="${movie.original_title}" class="img-fluid">
              </div>
              <div class="card-body">
                <div class="card-title movie-title">
                  ${movie.original_title}
                </div>
                <div class="card-text movie-release">
                  ${movie.release_date}
                </div>
              </div>
            </div>
          </div>
        `;
        moviesContainer.insertAdjacentHTML('beforeend', movieHTML);
      });
    } else {
      // Nếu không còn phim nào nữa, ẩn nút loadmore
      document.querySelector('.btn-loadmore').style.display = 'none';
    }
  } catch (error) {
    console.error('Lỗi khi tải thêm phim:', error);
  }
});
</script>
