<!-- views/authRequest.hbs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auth Request</title>
</head>
<body>
    <h1>Xác thực tài khoản TMDB</h1>
    <p>Để tiếp tục, bạn cần xác thực tài khoản TMDB của mình.</p>
    <a href="{{authUrl}}">Click here to authenticate</a>
</body>
</html>
